<mat-card>
  <button mat-button>All</button>
  <button mat-raised-button>Of</button>
  <button mat-raised-button color="primary">The</button>
  <button mat-raised-button color="accent">Buttons</button>
</mat-card>

<mat-card>
  <button mat-fab color="primary">
    <mat-icon>send</mat-icon>
  </button>
  <button mat-mini-fab color="accent">
      <mat-icon>send</mat-icon>
  </button>
</mat-card>

<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="https://source.unsplash.com/random/200x200">
    <mat-card-title>Cards are the best</mat-card-title>
    <mat-card-subtitle>Really, they are!</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://source.unsplash.com/random/800x600"id="myimage" alt="">
  <mat-card-content>
    <p>Something pretty...</p>
    <img mat-card-image src="https://source.unsplash.com/random/400x200"id="myimage" alt="">

  </mat-card-content>
</mat-card>
